/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.tabs-title {
	position: relative;

	.tabs-remove-tab {
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		color: #cc4b37;
		border-radius: 50%;

		&:hover {
			background: #cc4b37;
			color: #fefefe;
		}
	}

	&.tabs-add-new {
		a {
			padding: 0.95rem 1rem !important;
		}
	}
}

.components-button-group {
	display: block;
}
