/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-ms-container {
	.ms-container--wrapper.alignwide,
	.ms-container--wrapper.alignfull {
		.editor-block-list__block {
			max-width: none !important;
		}
	}

	&.has-height-half,
	&.has-height-full {
		height: auto;
	}
}

.ms-image-preview-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f1f1f1;
	margin: 1px;
	border-radius: 4px;

	svg {
		stroke: rgba(0, 0, 0, 0.3);
		stroke-width: 1px;
		fill: #fefefe;
	}
}

.ms-image-preview {
	min-width: 100px;
	flex: 1 1 100px;
	margin: 0;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.25s ease-in-out;

	&:hover {
		background: #fafafa;
	}

	&:focus {
		background: #fafafa;
		box-shadow: 0 0 0 2px #008dbe;
	}

	&-remove {
		background: none !important;
		border: none;
		position: absolute;
		top: 10px;
		right: 4px;
		cursor: not-allowed;
		z-index: 3;
	}
}

.ms-placeholder {
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f1f1f1;
	margin: 1px;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.25s ease-in-out;

	&:hover {
		background: #fafafa;
	}

	&:focus {
		background: #fafafa;
		box-shadow: 0 0 0 2px #008dbe;
	}
}
