/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .wp-block-ms-container {
	position: relative;
}

@for $i from 0 through 10 {
	.ms-container--background-opacity-#{$i}:before,
	.has-background-opacity-#{$i}:before {
		opacity: #{$i*0.1};
	}
}

.ms-container--background,
.wp-block-ms-container.has-background {
	> * {
		position: relative;
		z-index: 3;
	}

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 2;
	}

	> video {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: auto;
		z-index: 1;
		object-fit: cover;
	}
}

.ms-container--height-half,
.ms-container--height-full,
.has-height-half,
.has-height-full {
	min-height: 50vh;
	height: 50vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.ms-container--height-full,
.has-height-full {
	min-height: 100vh;
	height: 100vh;
}

/**
 * Deprecated CSS in 2.0
 */
@for $i from 0 through 10 {
	.ms-container--background-color-opacity-#{$i}:before,
	.has-background-color-opacity-#{$i}:before {
		opacity: #{$i*0.1};
	}

	.ms-container--background-image-opacity-#{$i}:before,
	.has-background-image-opacity-#{$i}:before {
		opacity: #{$i*0.1};
	}
}

.ms-container--background-image,
.has-background-image {
	background-repeat: no-repeat;
	background-size: cover;
}

.ms-container--background-color,
.ms-container--background-image,
.has-background-color,
.has-background-image {
	> * {
		position: relative;
		z-index: 2;
	}

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
	}
}

.ms-container--background-video,
.has-background-video {
	overflow: hidden;
}
