/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.ms-loading-indicator {
    text-align: center;

    .components-spinner {
        float: none;
    }
}

.components-modal__content {
    .components-base-control {
        .components-base-control__label {
            display: block;
        }
    }
}

.image-16\:9 {
    @include aspect-ratio(16 9);
}

.image-9\:16 {
    @include aspect-ratio(9 16);
}

.image-10\:15 {
    @include aspect-ratio(10 15);
}
