/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

@mixin aspect-ratio($ratio: 1 1, $object-fit: true, $selector: "> *") {
    $selector: unquote($selector);

    display: block;
    max-width: 100%;
    position: relative;

    &:before {
        content: "";
        display: block;
        padding-bottom: percentage(nth($ratio, 2) / nth($ratio, 1));
    }

    #{$selector} {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
    }

    @if $object-fit {
        img {
            object-fit: cover;
            object-position: top;
            font-family: "object-fit: cover; object-position: top;"; // IE11 fix, in combination with object-fit-images JS package.
            height: 100% !important;
            width: 100%;
        }
    }
}